{% extends 'base.html' %}

{% block title %}Inicio - {{ block.super }}{% endblock %}

{% block contenido %}
<div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido al Sistema de Gestión</h1>
        <p class="col-md-8 fs-4">Panel de control logístico para la flota de {{INFO_EMPRESA.nombre}}</p>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Camiones</h5>
                <p class="display-6">{{ total_camiones }}</p>
                <div class="mt-auto">
                    <a href="{% url 'camion_list' %}" class="btn btn-outline-primary">Ver flota</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Choferes</h5>
                <p class="display-6">{{ total_choferes }}</p>
                <div class="mt-auto">
                    <a href="{% url 'chofer_list' %}" class="btn btn-outline-primary">Ver personal</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Viajes</h5>
                <p class="display-6">{{ total_viajes }}</p>
                <div class="mt-auto">
                    <a href="{% url 'viaje_list' %}" class="btn btn-outline-primary">Ver viajes</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-3 mb-4">
        <div class="card shadow-sm h-100">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title">Sedes</h5>
                <p class="display-6">{{ total_sedes }}</p>
                <div class="mt-auto">
                    <a href="{% url 'sede_list' %}" class="btn btn-outline-primary">Ver sedes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}